<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
  <span class="sr-only">Success:</span>
  You successfully read this important alert message.
</div>